@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900');
body{
  font-family:"Source Sans Pro";
  margin: 0 !important;padding: 0px !important;
  color: #343e47;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.red_txt {
    color: #f00;font-weight: 600;
}
.green_txt{
    color: #008000;font-weight: 600;
}
.blue_txt{
    color: #0000FF;font-weight: 600;
}
.yelo_txt{color: #ffa342;font-weight: 600;}
/*logo*/
.finance_logo_img .top_headr_logo,.top_headr_logo{ 
    background-image: url("../img/logo/logo_jpg.jpg");
    background-position: center center;
    background-size: cover;
    height: 51px;
    max-width: 275px;
}
/*table
======================*/
table{margin-bottom: 0px;}
th {text-align: center;font-weight: 600;font-size: 15px;}
td{font-size: 14px;}
table tbody tr:nth-child(odd) {background-color: #f2f2f2;}
/*list
======================*/
ul{list-style-type: none;padding-left: 5px;}
li{line-height: 1.3;}
/*typography
======================*/
h1,h2{font-weight: 700;}
/*form element
=====================*/
form label,label{font-size: 15px;font-weight: 600;}
input,select,textarea{font-size: 14px;}
textarea{max-width: 100%;}
/*.form-control {
    background-color: #e5e5e5;
    border-color: transparent;
    color: #000;box-shadow: 0 0;
    font-weight: 500;
}*/

.form-control {
    background-color: #fff;
    border-color: #999;
    color: #000;box-shadow: 0 0;
    font-weight: 500;
}
.form_ele .post_cod input.form-control {
    border-color: #197b98;
}
.revolution_form .rev_cont {
    max-width: 44%;
}
.hedng.flt_lft > h3 {
    color: #fff;
}
.form-control:hover,.form-control:focus{background-color: #fff; border: 1px solid #555;box-shadow: 0 0;}
/*select {
    line-height:normal;
    height:38px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:200px;
    border-radius:6px;
    display:block;
    width:100%;
    border:1px solid #c8c8c8;
    background:#fff url(images/inpbg.png) repeat-x 0 0;
    color:#9f9f9f;
    padding:8px 20px 7px 10px;
    margin:0;
    line-height:normal;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}*/
.select_form_group {
    margin: 0 auto;
    max-width: 350px;
}

/*page title
===================*/
.page_brdr_titl{border-bottom: 1px solid #ccc;padding-bottom: 6px;}
/*css for link
===================*/

a{transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;color: #3B5998;}
a:hover,a:focus{text-decoration: none;color: #3B5998;/*opacity: 0.7;color: #222;*/}

/*css for button
====================*/
a.btn,.btn-primary, .btn, .btn.btn-primary, .edit_banbottom input[tupe="submit"] {
    background-color: #197b98;
    border: medium none;
     border-radius: 3px;
    box-shadow: 0 0 #555;
    color: #fff;
    font-family: inherit;
    font-size: 17px;
    padding: 4px 15px;
    transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;
}
a.btn:hover,.btn.btn-primary:hover, .btn:hover, .btn-primary:hover {
    background-color: #034E63;
    color: #fff;
    /*opacity: 0.7;color: #fff;*/
    outline: medium none;
}

.btn:focus,a.btn:focus,.btn-primary:focus {
    background-color: #222;
    opacity: 0.7;color: #fff;
    outline: medium none;
    transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
}
.form_ele.flt_lft .btn-group .btn.sel_form:focus, .form_ele.flt_lft .btn-group .btn.sel_form:hover, .form_ele.flt_lft .btn-group .btn.close_me:focus, .form_ele.flt_lft .btn-group .btn.state_fr:focus, .form_ele.flt_lft .btn-group .btn.close_me:hover, .form_ele.flt_lft .btn-group .btn.state_fr:hover{
    background-color: #fff;
    opacity: 1;
    color: #197b98;
    outline: none;
    transform: none;
    -moz-transform: medium none;
    -webkit-transform: none;
}
.form_ele.flt_lft .bootstrap-select.btn-group .dropdown-toggle.btn.close_me .caret{display:none;}
.form_ele.flt_lft .bootstrap-select.btn-group .dropdown-toggle.btn.sel_form{outline-offset:0;outline:medium none !important;background-color: #fff;box-shadow: none;color: #197b98;}
.form_ele.flt_lft .bootstrap-select.btn-group .dropdown-toggle.btn.close_me{outline-offset:0;outline:medium none !important;/*border-radius: 3px 0 0 3px;border-right: medium none;*/background-color: #fff;box-shadow: none;color: #197b98;}
.form_ele.flt_lft .bootstrap-select.btn-group .dropdown-toggle.btn.state_fr{outline-offset:0;outline:medium none !important;border-left: medium none;border-radius: 0 3px 3px 0;margin-left: -3px;background-color: #fff;box-shadow: none;color: #197b98;}
a.btn:active,.btn-primary:active {
    background-color: #222;
    opacity: 0.7;color: #fff;
    outline: medium none;
}

.my_prof_box .control-label.col-xs-5 {
    padding: 0 8px;
}
/*css for typography
====================*/

/*css for list
====================*/
/*css for home TOP NAV
==========================*/
.top_nav2 .navbar-header .navbar-toggle {background-color: #3B5998;}
.top_nav2 .navbar-header .navbar-toggle:hover,.top_nav2 .navbar-header .navbar-toggle:focus {background-color: #3B5998;opacity: 0.7;}

.top_nav .nav.navbar-nav.navbar-right li:first-child a.btn {
    padding: 4px 15px; background-color: #197b98;
    top: 12px;color: #fff; border-radius: 3px;
}
.nav.navbar-nav.navbar-right li:first-child a.btn:focus,.nav.navbar-nav.navbar-right li:first-child a.btn:hover{
    background-color: #034E63;
}
.top_nav2 {
    position: relative;
}
.top_nav nav.navbar.navbar-inverse {
    border-radius: 0;position: relative;
   /* left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;*/
}
.top_nav2.top_nav_fixed nav.navbar.navbar-inverse {
    left: 0;margin-top: 80px; position: fixed; right: 0; top: -80px; z-index: 99999;
}
.top_nav .navbar-inverse .navbar-nav > li > a{color: #fff;font-weight: 400;}
.top_nav nav.navbar-inverse.navbar,.top_nav.navbar_tgl_btn nav.navbar-inverse.navbar {
    background-color: #197b98;
    border-color: transparent;margin-bottom: 0px;
    transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;-webkit-transition:all 1s ease 0s;
}
/*nav.top_nav_fixed .navbar.navbar-inverse {
    left: 0;
    margin-top: 50px;
    position: fixed;
    right: 0;
    top: -50px;
    z-index: 99999;
}*/
.top_nav_fixed .navbar-inverse .navbar-nav > li > a {
    color: #fff;
  }
.top_nav_fixed .nav.navbar-nav.navbar-right li:first-child a.btn {
    background-color: #fff;
    color: #222;
}
.top_nav_fixed .nav.navbar-nav.navbar-right li:first-child a:hover {
    background-color: #fff;opacity: 0.9;
    color: #222;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{background-color: transparent;opacity: 0.7;color: #fff;}
.top_nav.top_nav_fixed .nav.navbar-nav.navbar-right li:first-child a.btn:hover{background-color: }
/*.top_nav.top_nav_fixed nav.navbar-inverse.navbar {
    background-color:#222;
    border-color:#222;
}*/
.top_nav ul {
    margin-bottom: 0;
    margin-top: 0;
}
.top_logo_n_sign_up_logn .nav > li > a:focus,.top_logo_n_sign_up_logn .nav > li > a:hover{background-color: transparent;opacity: 0.8;}
/*top_nav2
=================*/
.top_nav2 nav.navbar-inverse.navbar {
    background-color: rgb(59,89,152);
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;-webkit-transition:all 1s ease 0s;
}
.top_nav2 .nav.navbar-nav.navbar-right > li > a > span:first-child{color: #fff;
    display: block;
    font-size: 21px;position: relative;
padding: 4px 8px 0;
    padding: 0 8px;
    text-align: center;
}
.top_nav2 .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 11px;
    color: #fff;text-align: center;
}
.change_pass_form::before {
    content: "";
}
.top_nav2 .navbar-nav > li > a:hover,.top_nav2 .navbar-nav > li > a:focus {color: #fff;opacity: 0.5;}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{background-color: transparent;}
.top_nav2 .dropdown-menu > li > a {
    font-size: 15px;color: #fff;
    padding: 3px 11px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{color: #222;}
.top_nav2 .dropdown-menu > li > a:hover,.top_nav2 .dropdown-menu > li > a:focus{color: #3B5998;opacity: 0.8;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{color:  #fff;opacity: 0.5;}
.top_nav2 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,.top_nav2 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{background-color:  #222;color: #fff;}
.dropdown.fb_br .dropdown-menu li {
    float: left;
    margin-bottom: 0;
    margin-right: 2px;
    margin-top: 0;
    /*margin-left: 9px;*/
    min-width: 186px;
}

.top_nav2 .navbar > .container .navbar-brand{margin: 0px;}
.top_nav2 nav .nav.navbar-nav > li > a {
    padding: 25px 15px;
}
.nav.navbar-nav.navbar-right.footer_social.hidden-xs {
    margin-top: 6px;
    width: auto;
}
.top_nav2 .navbar-brand{}
.top_nav .navbar.navbar-inverse ul.nav li:last-child{max-width: 100%}
.top_nav .navbar.navbar-inverse ul.nav li:last-child .search_form {
    padding: 9px 0 0;
}
.top_nav.top_nav_fixed nav.navbar.navbar-inverse {
  left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
/*.top_nav2 .navbar.navbar-inverse .collapse > .nav.navbar-nav:first-child li {
    padding: 15px 0;
}*/
.top_nav .nav.navbar-nav.navbar-right.footer_social {
    padding: 5px 0;
    position: relative;
}
.top_nav.top_nav_fixed .nav.navbar-nav.navbar-right.footer_social{display: none;}
.top_nav2 .navbar-inverse .navbar-collapse{
    border-color: #009dbe;
}
.top_nav2 {
    clear: both;
    padding: 51px 0 ;
    position: relative;
}
.top_nav2 nav.navbar.navbar-inverse {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.mobile_phone_code select.form-control {
    padding: 3px;
    width: 55px;
}
/*css for footer
===========================*/
.footer1 {
  background-color: #252525;
    border-top: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc;
    color: #fff;
    margin: 0;
    padding: 25px 0 3px;
}
.footer_content > h3 {
    color: #fff;
}
.footer1 ul{margin:3px 0px;padding-left: 5px;}
.footer1 ul li{list-style-type: none;}
.footer2 {background-color: #444;color: #fff;}
.footer1 .col-xs-6.col-sm-3:nth-child(2) .footer_content {
    margin-bottom: 84px;
}
.footer1 .footer_content a {
    color: #E1E1E1;
}
.footer1 .footer_content a:hover {
    color: #fff;
}
/*======================================*/


/*=============================================================================*/
.carousel-control.left,.carousel-control.right{background-image: none;}
/*====slider*/
/*
    Bootstrap Carousel to Fade instead of slide
    */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.slid_imags {
    background-size: cover;
    height: 650px;
    width: 100%;
}
.home_slidr_sec .item:first-child .slid_imags {  background-image: url("../img/1.jpg");}
.home_slidr_sec .item:nth-child(2) .slid_imags {  background-image: url("../img/2.jpg");}
.home_slidr_sec .carousel-control .glyphicon-chevron-left, .home_slidr_sec .carousel-control .icon-prev {
    background-color: #f2f2f2;
    font-size: 20px;
    height: 101px;
    left: 10px;
    margin-top: 0;
    padding: 42px 0 0;
    text-align: center;
    top: 43%;
    width: 38px;
}
.home_slidr_sec .carousel-control .glyphicon-chevron-right, .home_slidr_sec .carousel-control .icon-next {
    background-color: #f2f2f2;
    font-size: 20px;
    height: 101px;
    padding:  42px 0 0;
    right: 10px;
    text-align: center;
    width: 40px;
    margin-top: 0px;
    top: 43%;
}
/*====slidr*/
/*modal
====================*/

#forget_password.modal{z-index: 100000}
#custopmer_broker_conf_mdl form {
    margin: 0 auto;

    text-align: center;
}
.custopmer_broker_conf .btn {
    display: block;
    margin: 7px auto;
    max-width: 251px;
    width: 100%;
}
#custopmer_broker_conf_mdl .modal-dialog,#finance_broker_hub .modal-dialog{    max-width: 421px;}

/*===next-modal======*/
#broker_sign_up .modal-dialog {
    max-width: 450px;
}
#broker_sign_up .form-horizontal .control-label{text-align: left;}
#broker_sign_up .form-control-feedback{right: 17px;width: auto;}
#broker_sign_up select+.form-control-feedback{right: 33px;}
/*login*/
#home_login .modal-dialog,#forget_password  .modal-dialog{
    border: 3px solid #222;
    border-radius: 8px;
    margin-right: 15px;
    margin-top: 51px;
    max-width: 301px;
}
#home_login .form-horizontal .control-label,#forget_password .form-horizontal .control-label{text-align: left;}
.modal .modal-header button.close {
    background-color: #222;
    border-radius: 50%;
    color: #fff;
    opacity: 1;
    padding: 0 6px 3px;
}
.modal button.close:focus {opacity: 0.8;}
#finance_broker_hub .modal-header {
    padding: 7px 21px;
}
/*=====content=========*/
.how_to_contnt.text-center a {
    text-transform: uppercase;
}
.form_ele .btn.dropdown-toggle.btn-default {
    background-color: #fff;
    border: 1px solid;
    box-shadow: none;
    color: #197b98;
}
.image-bottom-space {
    margin: 0 auto;
    max-width: 251px;
    width: 100%;
    padding: 3px;
    transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;
}
.image-bottom-space:hover {transform:scale(0.7);-moz-transform:scale(0.7);-webkit-transform:scale(0.7);}

/*---my_profile form
======================*/
.left_my_profil.form-horizontal, .rght_my_profil {
    background-color: #f2f2f2;
    border-radius: 5px;  display: block;
    width: 100%;
}
.my_profile_contnt_row .col-lg-8, .my_profile_contnt_row .col-lg-4 {
    margin: 0 0 15px;
}
.left_my_profil.form-horizontal{ padding: 41px 30px 22px;}
.col-lg-4 > .rght_my_profil:first-child{
    padding: 41px 17px 15px;;
}
.rght_my_profil{
    padding: 41px 17px 40px;
}
/**/
.my_prof_box,.change_pass_form {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 1px 1px #999;
    padding: 35px 0 0;
    position: relative;
}

.row.my_prof_box::before,.change_pass_form::before {
 background-color: #222;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: fontawesome;
    height: 35px;
    left: 0;
    margin: 0 auto;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -21px;
    vertical-align: middle;
    width: 35px;
    z-index: 5;
}
.my_prof_box1::before{content: "\f007";}
.my_prof_box2::before{content: "\f041";}
.my_prof_box3::before{content: "\f095";}
.my_prof_box4::before{content: "\f0c0";}
/*right*/
.upload_prof_photo span, .upload_bsns_logo span {
    display: block;
    font-size: 51px;
    padding: 9px 0 11px;
}

.upload_prof_photo, .upload_bsns_logo {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 1px 1px #999;
    display: inline-block;
    margin: 0 5px;
    max-width: 151px;
    overflow: hidden;
    position: relative;
}
.upload_prof_photo input[type=file],.upload_bsns_logo input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.pkg_month, .pkg_annual {
    display: inline-block;
    max-width: 151px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.pkg_month::after {
    background-color: #999;
    bottom: 0;
    content: "";
    height: 90%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}
.pkg_cntnt,.ch_month_box {
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 1px 1px #999;
    margin: 0 auto;
    max-width: 550px;
    padding: 5px;
}
.not_visible_sontnt .fa.fa-close,.not_visible_sontnt .fa.fa-check{
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    padding: 6px 9px;
}
.not_visible_sontnt .fa.fa-close{
     background-color: #f00;
}
.not_visible_sontnt .fa.fa-check {
    background-color: #008000;
    padding: 7px;
}
.pkg_annual.cancl_change .btn,.pkg_cntnt.cancl_change .btn {
    max-width: 150px;
    padding: 2px;
    text-align: center;
    width: 100%;
}
/*.row.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.row-eq-height > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}*/
/*.col-lg-4 >.rght_my_profil:last-child:not(:first-child){margin-top: 11px;}*/
.col-lg-4 >.rght_my_profil:last-child{height: 100%;}
.nam_ltr_circl {
    background-color: #b1b1b1;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 3px;
    padding: 2px 3px;
    position: relative;
}
.nam_ltr_avail {
    background-color: #008000;
    border-radius: 50%;
    bottom: -4px;
    padding: 6px;
    position: absolute;
    right: -2px;
}
.nam_ltr_question {
    background-color: #222;
    border-radius: 50%;
    bottom: -4px;
    color: #fff;
    font-size: 9px;
    padding: 4px 4px 2px;
    position: absolute;
    right: -3px;
}
.dsh_bord_customr_chat_tabl span.fa-comment-o, .dsh_bord_customr_chat_tabl span.fa-paperclip {
    display: inline-block;
    font-size: 21px;
    margin: 0 7px;position: relative;
    text-align: center;
}
.chat_contng {
    background-color: #f00;
    border-radius: 50%;
    bottom: -3px;
    color: #fff;
    font-size: 11px;
    padding: 2px 4px;
    position: absolute;
    right: -3px;
}
table.dsh_bord_customr_chat_tabl {
    border: 2px solid #222;
    max-width: 100%;margin-bottom: 0px;
    width: 100%;
}
.dash_box_list_cntnt hr {
    background-color: #222;
    height: 2px;
    margin: 15px auto;
    width: 95%;
}
.dsh_bord_customr_chat_tabl td, .dsh_bord_customr_chat_tabl tr th {
    padding: 5px;
}
.tabl_capton {
    border: 2px solid #222;
    margin: 0 0 2px;
    padding: 3px;
    position: relative;
    text-align: center;
}
.tabl_capton::after {
    background-color: #222;
    border-radius: 50%;
    color: #fff;
    content: "";padding-top: 3px;
    font-family: fontawesome;
    height: 28px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -21px;
    width: 28px;
}
.dash_box_list_cntnt {
    border: 2px solid #222;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    width: 100%;background-color: #fff;
}
.dash_box_list_cntnt .form-group::after {
    clear: both;
    content: "";
    display: table;
}
.news_titl {
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 6px 11px;
    text-align: center;
}
.msgs_containr {
    padding: 0 6px;
}
.msgs_containr > .inner_msg_dv {
    border: 2px solid #222;
    margin: 0 0 11px;position:relative;
    padding: 3px 6px 5px;
}
.msg_notice_count {
    display: table;
    font-weight: 500;
    margin: 0 0 1px;
    width: 100%;
}
.msg_sent_date{}
.msgs_containr >.inner_msg_dv >p {
    border-bottom: 1px solid #ddd;
    margin: 0;
}
/*.msgs_containr::after {
    border-bottom: 1px solid #222;
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 85%;
}*/
.my_fav_dash_page_sec .dashbord_row > .col-lg-7 .col-sm-6,.my_fav_dash_page_sec .dashbord_row > .col-lg-5 .col-xs-12{display: table;position: relative;height: 100%;}
.my_fav_dash_page_sec .dashbord_row{display: table;position: relative;height: 100%;}
.my_fav_dash_page_sec .dashbord_row > .col-lg-7 .col-sm-6 .dash_box_list_cntnt {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.my_fav_dash_page_sec .dashbord_row > div{    display: table-cell;
    float: none;
    vertical-align: top;}
.dshbrd_custmr_rght {
    height: 100%;
    padding: 31px 21px;
    width: 100%;
}
.dshbrd_custmr_rght::after {
    background: rgba(242, 242, 242, 0.9) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.my_fav_dash_page_sec .dashbord_row > .col-lg-5 .col-xs-12 {
    padding: 0;
}
/*=======*/
.row.custmr_prfil_cont_row {
    background-color: #f2f2f2;
    padding: 3px 5px;
}
.row.custmr_prfil_cont_row .col-xs-8, .row.custmr_prfil_cont_row .col-xs-4 {
    padding: 0;
}
.custmr_prfil_cont ul {
    padding-left: 25px;text-align: center;
}
.custmr_prfil_cont {
    background-color: #fff;
    margin-bottom: 4px;
    padding: 5px;
}
.custmr_prfil_cont::after {
    clear: both;
    content: "";
    display: table;
}
.delet_btn {
    background-color: transparent;
    border: 2px solid #666;
    box-shadow: 0 0;
    display: inline-block;
    margin: 5px 30px;
    padding: 5px 11px;
    vertical-align: top;
}
.delet_btn span{display: block;}
.delet_btn span:first-child {
    font-size: 20px;
}
.cust_pro_frght_cont h2 {
    margin: 0;
    padding: 30px 0 25px;
}
.icon_blo_txt span{clear: right;font-weight: 500;}
.cust_pro_frght_cont {
    background-color: #fff;
    float: right;
    margin-bottom: 4px;
    vertical-align: top;
    width: 99%;
}
.icon_blo_txt .fa.fa-star-o.pull-right {
    display: block;
    font-size: 22px;
}
.icon_blo_txt.text-left {
    padding: 0 11px;
}
.user_nam_lst li:not(:first-child),.user_nam_lst.custmr_nam_lst li {
    display: inline-block;
    max-width: 33%;
    width: 100%;text-align: left;
}

.custmr_prfil_cont > h4 span {
    padding-right: 6px;
}
.custmr_prfil_cont p:not(.user_nam_icn) {
    clear: both;
    padding-left: 11px;
    position: relative;
}
.user_nam_lst > li .fa {
    font-size: 18px;
    padding-right: 4px;
}
.locatn_left  {
    float: left;
}
.locatn_rght {
    display: inline-block;
    max-width: 321px;
    width: 100%;
}
.msg_fb_srch_icn span {
    margin-left: 5px;
    opacity: 0.6;
    position: absolute;
    top: 8px;
}
.msg_fb_cont_row .form-control {
    padding-left: 25px;
}
.msg_fb_srch_icn {
    clear: both;
    display: table;
    margin: 14px auto;
    max-width: 95%;
    position: relative;
    width: 100%;
}
.msg_fb_srch_contnt > h4 {
    background-color: #3B5998;
    color: #fff;
    margin: 0;
    padding: 11px 5px;
}
.msg_fb_srch_contnt {
    border: 2px solid #3B5998;
    height: 100%;
    border-radius: 3px;
}
.messag_list > p {
    position: relative;
}
.messag_list {
    display: table;
    width: 100%;
}
.messag_list {
    display: table;
    margin: 0 auto 11px;
    max-width: 95%;
    width: 100%;
}
.fb_user_name {
    font-weight: 600;
}
.msg_fb_srch_contnt hr {
    background-color: #222;
    height: 2px;
    margin-top: 0;
}
.messag_list > p.fb_msg_txt {
    padding-left: 25px;
    position: relative;
}
.rght_msg_fb_detail {
    border: 2px solid #ddd;
    padding: 5px;
}
.messag_list.active {
    background-color: #f2f2f2;
    padding: 5px;
}
.rght_msg_fb_cntnt .messag_list {
    max-width: 100%;
}
.rght_msg_fb_detail {
    border: 2px solid #ddd;
    padding: 5px;
}
.rght_msg_fb_detail > p {
    border-bottom: 2px solid #ddd;
    margin: 0;
    padding: 5px 0 11px;
}
.fb_edit_attach_send_btn {
    border: 2px solid #222;
    margin-right: 8px;
}
.fb_edit_attach_send_btn .btn {
    background-color: transparent;
    box-shadow: 0 0;
    color: #999;
    padding: 6px 12px;
}
.fb_edit_attach_send_btn .form-control {
    background-color: transparent;
    border: medium none;
}
.page_brdr_titl.text-right > span:first-child {
    float: left;
}
/*========================*/
/*.search_box_menu:active .form-control,.search_box_menu:hover .form-control{width: 200px;opacity: 1;display: block;}*/
.top_nav2 .navbar-brand{
    max-width: 151px;
    padding: 0;
    width: 100%;
}
.top_nav .navbar-brand {
    max-width: 80%;
    padding: 7px 5px 7px 15px;
    width: 100%;
}
.navbar-brand > a{
    opacity: 1;
}
.footer_social li {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    margin: 2px 5px;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}
.footer_social {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.footer_social a {
    display: block;
    padding: 8px 1px;
}
.footer_social li:hover {border: 1px solid #ef6c00;}

.footer_social li:nth-child(1) a{color: #3B5998;}
.footer_social li:nth-child(2) a{color: #1DA1F2;}
.footer_social li:nth-child(3) a{color: #007AB9;}
.footer_social li:nth-child(4) a{color: #D33669;}

.footer_social li:nth-child(1):hover {background-color: #3B5998;color: #fff;}
.footer_social li:nth-child(2):hover {background-color: #1DA1F2;color: #fff;}
.footer_social li:nth-child(3):hover {background-color: #007AB9;color: #fff;}
.footer_social li:nth-child(4):hover {background-color: #D33669;color: #fff;}

.footer_social li:nth-child(1):hover a{color: #fff;}
.footer_social li:nth-child(2):hover a{color: #fff;}
.footer_social li:nth-child(3):hover a{color: #fff;}
.footer_social li:nth-child(4):hover a{color: #fff;}

.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(1) a{color: #3B5998; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(2) a{color: #1DA1F2; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(3) a{color: #007AB9; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(4) a{color: #D33669; padding: 8px 1px;}

.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(1):hover a{color: #fff; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(2):hover a{color: #fff; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(3):hover a{color: #fff; padding: 8px 1px;}
.top_nav .navbar-inverse .navbar-nav.navbar-right.footer_social > li:nth-child(4):hover a{color: #fff; padding: 8px 1px;}

.search_box_menu .form-control {
    bottom: 0;
    height: auto;
    left:auto;
    padding: 6px 12px;
    position: absolute;
    top: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
    width: 0px;
    opacity: 0;
    right: 0;
}

.search_box_menu {
    display: block;
}
.search_box_menu .fa-search {
    color: #fff;
    display: block;
    padding: 15px 12px;
}
.search_box_menu  .form-control.visibl_class {
    opacity: 1;width: 461px;z-index: 9;
}
/*===========================*/
.msg_fb_cont_row {
    display: table;
    height: 100%;
    width: 100%;
}
.msg_fb_cont_row > div {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.rght_msg_fb_detail {
    border: 2px solid #3B5998;
    border-radius: 3px;
    height: 100%;
    padding: 5px 5px 60px;
    position: relative;
}
.form-group.send_file_msgs {
    bottom: 0;
    margin: 10px auto;
    position: absolute;
    width: 98%;
    z-index: 9;
}
.fil_pag_tab {
    border-bottom: 2px solid #ddd;
}
.fil_pag_tab .form-group > input[type="file"] {
    position: absolute;
    right: 0;
    top: 0;
}
.fil_pag_tab .form-group {
    display: inline-block;cursor: pointer;
}
  .my_fb_msg_page .container .row,.my_fb_file_page  .container .row{ margin: 0;}
.send_fil_drop_btn + .dropdown-menu {
    left: auto;
    padding: 5px 0 0;
    right: 0;
}
.fil_pag_tab ul.dropdown-menu input {
    left: 0;
    position: absolute;
    right: 0;
    top: 11px;
    width: 100%;
}
.fil_pag_tab ul.dropdown-menu label{width: 100%;position: relative;display: block;}
.rght_msg_fb_detail .dropdown-menu > li > a{color: #fff}
.change_pass_form {
    margin: 21px auto;
    max-width: 650px;
    padding: 35px 6px 11px;
}
.change_pass_form.deact_acc_form::before{content: "\f007";}
.deact_acc_form .control-label.col-sm-12 {
    padding: 0 45px;
    text-align: center;
}
.bell_circle {
    background-color: #f00;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    height: 17px;
    left: 22px;
    margin: 0 auto;
    padding-top: 1px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 17px;
}
/*===============*/
.right_ch_subscription{position: relative;}
.right_ch_subscription .pkg_cntnt:first-child{text-align: left;}
.right_ch_subscription .pkg_cntnt > div {
    max-width: 100%;
    min-width: 154px;
    width: 49%;
}
.right_ch_subscription .feature_n_pkg_box {
    display: inline-block;max-width: 395px;
    vertical-align: top;margin: 11px auto;
}
.feature_n_pkg_box .pkg_month,.feature_n_pkg_box .pkg_annual{vertical-align: top; display: inline-block;

    padding: 11px 5px;
    text-align: center;
    width: 100%;
}
.pkg_cntnt > h3,.left_ch_subscription > h3 {
    font-size: 21px;
    margin: 11px 0;
}
.ch_month_box {
    display: inline-block;
    margin: 11px auto;
    max-width: 550px;
    padding: 11px 15px;
    width: 95%;
}
.right_ch_subscription.text-center > p {
    text-align: left;
}
/*.change_subscription_row > .col-md-3 > div, .change_subscription_row > .col-md-9 > div {
    background-color: #f2f2f2;
    padding: 11px;
}*/
/*====*/
.change_subscription_row {
    display: table;
    margin: 0;
    width: 100%;
}
.change_subscription_row > div {
    display: table-cell;
    float: none;
    height: 100%;
}
.change_subscription_row > .col-sm-3 > div, .change_subscription_row > .col-sm-9 > div {
    background-color: #f2f2f2;
    display: table;
    height: 100%;margin: 11px 0;
    padding: 11px;
    width: 100%;
}
.select2.select2-container--default .select2-selection--multiple {
    background-color: #e5e5e5;
}
.select2-container--open.select2.select2-container--default .select2-selection--multiple{background-color: transparent;}
 .user_nam_lst > li:first-child {
    text-align: left;
}
.home_loan_financ_btn .btn {
    padding: 3px 11px;
}
.custmr_prfil_cont > h4 .delet_btn {
    float: right;
    font-size: 80%;
    max-width: 100px;
    padding: 9px 0;
    text-align: center;
}
.custmr_prfil_cont > h4 {
    clear: both;
    display: table;
    position: relative;
    width: 100%;
}
.meeting_txt {
    float: right;
    font-size: 90%;
    font-style: italic;
}
/*=====menu css =========*/
.top_logo_n_sign_up_logn {
    background-color: #fff;
    display: table;clear: both;
    width: 100%;
}

/*====================================================================customer==========css=======================================================*/
.custmr_left_boxs .form_group > h4 {
    float: left;
}
.search_bx_sorting >.col-xs-7> input[type=text]:focus,.search_bx_sorting >.col-xs-7> input[type=text]:hover,.search_form .form-control:focus,.search_form .form-control:hover {
    background-image: url('../img/searchicon1.png');border: 2px solid #ddd;
}
.search_bx_sorting >.col-xs-7> input[type=text]:focus,.search_form .form-control:focus{
    width: 100%;
}
.custmr_left_boxs .form_group {
    background-color: #222;
    color: #fff;
    padding: 4px 5px 5px;
}
.customer_left .custmr_left_boxs:not(:first-child) {
    border: 2px solid #222;
    margin: 2px 0;
    padding: 0 5px;
}
.container-fluid.header_search_form {
    background-color: #3B5998;
    padding: 7px 40px;
}
.search_bx_sorting >.col-xs-7> .form-control,.search_form .form-control{
    box-sizing: border-box;width: 211px;
    border: 2px solid #EF6C00;
    /*background-image: url('../img/searchicon.png');*/
    background-image: url('../img/searchicon1.png');
    background-position: 3px 5px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
      padding-left: 27px;
}
.transparent_btn {
    background-color: transparent;
    border: medium none;
    box-shadow: 0 0;
}
.customer_right table.table tbody tr td, .customer_right table.table thead tr th {
    padding: 5px;
}
.customer_right table.table thead tr th {
    background-color: #222;
    color: #fff;
    vertical-align: top;
}
.sort_opt_drop .col-xs-5, .sort_opt_drop .col-xs-7 {
    padding-left:3px;padding-right: 0px;
}
.customer_right .table-responsive {border: 1px solid #3b5998;border-radius: 3px;}
.customer_right table tr td:first-child span {
    float: left;
}
.customer_right table.table {
    margin-bottom: 11px;
}
.row.search_bx_sorting.text-right{margin: 0px;}
.row.search_bx_sorting.text-right>div{padding: 0px;}
.customer_left, .customer_right {
    margin-bottom: 21px;
}
.customr_rating_n_broker {
    position: relative;
    width: 100%;font-size: 11px;
}
.customr_rating_rght {
    line-height: 1;
    position: absolute;
    right: 0;
    top: 20px;
    width: 51px;
}
.customr_rating_curnt {
    background-color: #3b5998;
    border-radius: 50%;
    color: #fff;
    height: 28px;
    margin: 0 auto;
    position: absolute;
    right: auto;
    text-align: center;
    top: 22px;
    width: 29px;
    left: 0;
}
.customr_rating_left {
    display: block;
    line-height: 1;
    padding: 0;
    text-align: center;
    width: 51px;
}
.msg_fg_detail{overflow-x: hidden;transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;}
.top_nav .nav.navbar-nav.navbar-right.footer_social {
    width: auto;
}
.top_nav .container, .top_nav .container-fluid {
    max-width: 1200px;
    padding: 0 5px;
    width: 100%;
}
.all_recent_listing::after,.msg_fb_srch_contnt::after,.rght_msg_fb_detail::after ,#screen,.msg_fg_detail:after{
    clear: both;
    content: "";
    display: table;
}
.all_recent_listing {
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;
}
.msg_fg_detail {
    height: 100%;
    max-height: 351px;
    width: 100%;
}
.calulator-inner {
    background-color: #e1e1e1;
    border-radius: 4px;
    display: inline-block;
    margin: 11px 5px;
    max-width: 250px;
    min-height: 241px;
    overflow-x: hidden;
    padding: 5px 11px;
    vertical-align: top;
    width: 100%;
}
.finac_tol {
    background-color: #e1e1e1;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    max-width: 501px;
    min-height: 181px;
    padding: 11px;
    vertical-align: top;
    width: 100%;
}
.budget_titl h3 {
    margin: 0;
}
.budget_titl {
    background-color: #444;
    color: #fff;
    margin: 0 0 21px;
    padding: 21px 0;
}
.budget_titl h3 {
    margin: 0;
    padding: 0 35px;
}
.top_logo_n_sign_up_logn .navbar-nav > li{margin-right: 6px;}
.how_to_sec .row {
    margin-bottom: 25px;
    margin-top: 75px;
}
/*#forget_password .modal,#home_login .modal{right: 15px;}*/
/*========================testing=============design==================*/
.login_top {
    background-color: #197B98;
    /*border: 3px solid #aaaaaa;*/
    border-radius: 23px;
    box-shadow: 0 2px 4px #fff inset;
    color: #fff;
    padding: 2px 9px 2px 23px;
    position: relative;
    text-align: center;
}
.login_top span {
    background-color: #197B98;
   /* border: 3px solid #aaaaaa;*/
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 #fff inset;
    left: -12px;
    padding: 6px 8px;
    position: absolute;
    top: -5px;
}
.top_logo_n_sign_up_logn .nav.navbar-nav.navbar-right li:last-child a:hover span,.top_logo_n_sign_up_logn .nav.navbar-nav.navbar-right li:last-child a:focus span{background-color: #034E63;color: #fff;}
.find_broker_row .col-sm-5 > h3 {
    margin: 5px 0;
}
.borrower_icon {
    background-image: url("../img/logo/borrowerpng.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 14px;
    padding: 5px 16px 5px 15px;
}
.broker_icon{
        background-image: url("../img/logo/broker.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 14px;
    padding: 5px 16px 5px 15px;
}
.revolution_form ul li a {
    color: #fff;
    padding: 6px 31px;
    text-align: left;
}
.revolution_form ul li a {
    color: #fff;
   	/*padding: 6px 51px 6px 31px;*/ 
    border-radius: 5px;
    text-align: left;
}
.revolution_form ul li a:hover,.revolution_form ul li a:focus{background-color: #222;color: #fff;}
#menu1:hover+.dropdown-menu{display: block;}
.revolution_form .dropdown-menu {
    margin: 0;
    box-shadow: none;
    border: medium none;
    background-color: unset;
}
.top_nav .navbar.nav_main{
    border:none;
}
.top_nav .navbar-inverse .navbar-nav.main_links li > a{
    margin-top: 5px;
}
.top_nav .navbar-inverse .navbar-nav.main_links .active > a, .top_nav .navbar-inverse .navbar-nav.main_links li a:hover {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    color: #197b98;
    opacity: 1;
}
.revolution_form .dropdown {
    margin-left: 5px;
}
.revolution_form .dropdown {
     
}
.revolution_form .dropdown .dropdown-toggle {
    border-radius: 4px;
    border: 1px solid;
    display: block;
    font-size: 24px;
    padding: 7px 8px;
    max-width: 270px;
    color: #fff;
}
.revolution_form .dropdown:hover .dropdown-menu{display: block;}
.filter_by {
    border-bottom: 3px solid #ccc;
    margin: 0;cursor: pointer;
    padding: 10px 5px;
}
.active .filter_by{border: none;}
.home_slidr_sec {
    position: relative;
    background-color: #0fb5dd;
}
.revolution_section {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.row.form-horizontal.revolution_form {margin-top: 33px;border-radius: 5px;    text-align: -webkit-center;}

.revolution_section h3 {
    display: inline-block;
    padding: 5px 25px 5px 5px;
    vertical-align: middle;color: #fff;
}
.revolution_section {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}
.revolution_section .container {
    border-radius: 5px;
    padding-bottom: 101px;
    padding-top: 101px;
}
.row.my_profile_contnt_row.row-eq-height {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}
.col-xs-12.deactivat_my_acc_link {
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: 31px;
    padding: 15px 21px 0;
}
.pkg_cntnt .pkg_annual.cancl_change .btn {
    font-size: 14px;
    margin: 5px 0;
}
.revolution_section {
    background-image: url("../img/evaluation_banar.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 51px 0;
}
.revolution_form .form-group.col-sm-6.text-center > .btn {
    margin: 3px 0;
}
.revolution_form .form-group.col-sm-6.text-center> .btn:first-child  {
    background-color: #ef6c00;
    }

.revolution_togle{cursor: pointer;}
.find_broker_row  .form-control {
    width: 95%;
}

/*select.form-control {
    position: relative;
    background:url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    -webkit-appearance: none;appearance: none;-moz-appearance: none;
   /* background-position-x: 244px;*/
/*}
*/
/*==========*/


select.form-control::after {
/*    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #0ebeff;
    position: absolute;
    pointer-events: none;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
/*display: none;*/
}

select.form-control {
 -ms-word-break: normal;
  word-break: normal;
}
.form-horizontal.row.find_broker_row {
    margin-top: 26px;
}
.flt_lft {
    float: left;
}
.form_ele {
    margin-left: 5px;
    margin-top: 15px;
}
.find_broker_contnt {
    border-radius: 4px;
    display: table;
    padding: 1px 1px 15px;
    width: 100%;
}
.find_broker_row .col-sm-8 {
    padding-left: 0;
}
.stat_select, .post_cod {
    display: inline-block;
    margin: 1px 5px;
    max-width: 101px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.find_broker_btn {
    display: inline-block;
    margin: 1px 5px;
    padding: 0;
    vertical-align: top;
}
.form-group.select_dropdwn {
    display: inline-block;
    margin: 1px 5px;
    max-width: 121px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.find_broker_contnt > .row:last-child .col-sm-5:first-child {
    padding-right: 0;
}
.find_broker_contnt > .row:last-child .col-sm-7:last-child {
    padding-left: 0;
}

.revolution_form ul li:first-child a{background-color: #ef6c00;opacity: 0.7;}
.revolution_form ul li:last-child a{background-color:  #197b98;opacity: 0.7;}

.revolution_form ul li:first-child a:hover,.revolution_form ul li:first-child a:focus{background-color: #ef6c00;opacity: 1;}
.revolution_form ul li:last-child a:hover,.revolution_form ul li:last-child a:focus{background-color:  #197b98;opacity: 1;}
/*==========*/
.financ_brokr_logo {
    background-color: rgba(255, 255, 255);
    background-image: url("../img/logo/logo_4.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 6px;
    padding: 43px 73px;
}
.revolution_form .rev_cont {
    text-align: center;
    margin: 0;
}
.col-sm-2.hedng.flt_lft {
    padding: 0;
}
.post_cod{margin: 0;}

/* =================== Customer CSS By Saurabh ===================== */
.customer_left {border: 2px solid #3b5998;border-radius: 2px;}
.customer_left .btn{background-color: #FF8F31;box-shadow: none;}
.customer_left .btn:hover{background-color: #EF6C00;box-shadow: none;}
.customr_home_row .customer_left .custmr_left_boxs:not(:first-child) {border: medium none;}
.customr_home_row .customer_right table.table thead tr th {background-color: rgb(59, 89, 152);}
.customr_home_row .search_fin{margin-top: 49px;}
.customr_home_row .custmr_left_boxs .form_group {background-color: #3B5998;}
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-top: 5px;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }


/* ====================== Boot Box =================== */
.error-boot .modal-content {
    box-shadow: 0 21px 34px rgba(169, 68, 66, 0.5);
}
.error-boot .btn.btn-primary {
    background: #a94442 none repeat scroll 0 0;
}
.error-boot .modal-body {
    color: #a94442;
}
.message-boot .modal-content {
    box-shadow: 0 21px 34px rgba(60, 118, 61, 0.5);
}
.message-boot .btn.btn-primary {
    background: #3c763d none repeat scroll 0 0;
}
.message-boot .modal-body {
    color: #3c763d;
}
.warning-boot .modal-content {
    box-shadow: 0 21px 34px rgba(138, 109, 59, 0.5);
}
.warning-boot .btn.btn-primary {
    background: #8a6d3b none repeat scroll 0 0;
}
.warning-boot .modal-body {
    color: #8a6d3b;
}





/*======================================================================customer=================================================================*/
/*====================media =======query====================*/
@media only screen and (max-width: 1199px){
 .my_profile_page_sec .container,.my_fav_dash_page_sec .container {max-width: 98%;width: 100%;}
 .row.my_profile_contnt_row{display: block;}
 .my_fav_dash_page_sec .dashbord_row > div{display: table;width: 100%;}
 .my_fav_dash_page_sec .container>.dashbord_row{width: 100%;margin:0px;}
 .my_fb_msg_page .container,.my_fb_msg_page  .container,.change_subscription_page .container,.customer_prof_page .container{ max-width: 98%; width: 100%;}
 .home_slidr_sec .container { border-radius: 5px; max-width: 100%; width: 98%;}
 /*.find_broker_contnt .hedng.flt_lft {width: 100%;}
 .form_ele.flt_lft {margin-top: 0;}*/
}
@media only screen and (max-width: 991px){
    .slid_imags {height: 450px}
    .my_fav_dash_page_sec .dashbord_row > .col-lg-7 >div {width: 100%;}
    /*custtomer below*/
    .find_broker_row .form-group.col-md-6:last-child > div {margin-bottom: 15px;}
    .revolution_form .rev_cont {max-width: 56%;}
    .home_slidr_sec .container {width: 98%;}

}
@media only screen and (max-width: 981px){
    .find_broker_contnt .hedng.flt_lft {width: 100%;}
    .form_ele.flt_lft {margin-top: 0;}
}
@media only screen and (max-width: 890px){
    .top_nav2 nav .nav.navbar-nav > li > a { padding: 17px 7px;}
    .financ_brokr_logo{margin-top: 0px;padding: 40px 73px;}
}
@media only screen and (max-width: 850px){
    .top_nav > .navbar .container-fluid { padding: 0;}
    .navbar-nav > li > a{padding: 15px 8px;}
    .form_ele.flt_lft .bootstrap-select.btn-group .dropdown-toggle.btn.state_fr{margin-left: -4px;}

}
@media only screen and (max-width: 800px){
    .top_nav_fixed .navbar-inverse .navbar-nav > li > a {padding-left: 11px;padding-right: 11px;}
    .search_box_menu  .form-control.visibl_class{width: 411px;}
    .msg_fb_cont_row > div,.msg_fb_cont_row > div {display: table;float: none;height: auto;vertical-align: top;width: 100%;}
    }
@media only screen and (max-width: 767px){
  .row.change_subscription_row > div{display: table;width: 100%;height: auto;}
  .slid_imags {height: 400px}
  .my_fav_dash_page_sec .dashbord_row > .col-lg-7 >.col-sm-6,{width: 100%;height: auto;}
  .my_fav_dash_page_sec .dashbord_row > .col-lg-7 .col-sm-6 .dash_box_list_cntnt{width: 100%;}
  .custmr_prfil_cont_row .col-xs-8, .custmr_prfil_cont_row .col-xs-4, { width: 100%;}
  .row.custmr_prfil_cont_row > div {width: 100%;}
  .col-xs-8.rght_msg_fb_cntnt,.msg_fb_cont_row >.col-xs-4 { width: 100%;}
  .top_nav .nav.navbar-nav.navbar-right {text-align: center;}
  .top_nav .nav.navbar-nav.navbar-right li{display: inline-block;position: relative;vertical-align: middle;}
  .top_nav .nav.navbar-nav.navbar-right li:first-child a.btn{top: 0px;}
  .search_box_menu .form-control.visibl_class{width: 100%;}
  .top_nav.top_nav_fixed .nav.navbar-nav {background-color: transparent;}
  /*menu togl css*/
  .top_nav2.navbar_tgl_btn .navbar-brand{margin: 0 auto;float: none;}
/*  .navbar_tgl_btn nav,.navbar_tgl_btn nav{background-color: #222 !important;transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;}*/
    /*======*/
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color: transparent;}
  .top_nav2 .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { text-align: center;}
  .top_nav2 .dropdown-menu > li > a:hover,.top_nav2 .dropdown-menu > li > a:focus{color: #fff;}
  .top_nav .navbar-brand, .top_nav2 .navbar-brand{height: auto;}
  /*.top_nav .navbar-toggle, .top_nav2 .navbar-toggle{top: 21px;}*/
  .top_nav2 nav .nav.navbar-nav > li > a,nav .nav.navbar-nav > li > a {padding: 8px 15px;}
  .finance_logo_img > a {display: block;}
  .finance_logo_img > a div{margin: 0 auto;}
   .top_nav > .navbar .container-fluid { padding: 0 15px;}
   .top_nav .nav.navbar-nav.navbar-right.visible-xs li { margin: 0 11px;}
   .top_nav .nav.navbar-nav.navbar-right li:first-child a.btn{padding: 4px 15px;background-color: #222;color: #fff;}
   .top_nav .nav.navbar-nav.navbar-right li:first-child a.btn:hover{background-color: #222;opacity: 0.9;}
   .top_nav .nav.navbar-nav.navbar-right li:first-child a.btn:focus{background-color: #222;opacity: 0.8;}
   .top_nav2 .navbar.navbar-inverse .collapse > .nav.navbar-nav:first-child li { padding: 0;}
   .top_nav2 .navbar-toggle {top: 21px;}
   /*new_landng*/
    .find_broker_row .col-sm-8 {padding: 0;}
    .rev_cont .dropdown.fb_br {margin: 0 auto;width: 387px;}
    .revolution_form .rev_cont .dropdown a.dropdown-toggle {margin: 0 auto;}
    .revolution_form .rev_cont{margin: 0 auto; max-width: 100%;}
    .revolution_form ul li:first-child a {opacity: 1;}
    .revolution_form ul li:last-child a {opacity: 1;}
}

@media only screen and (max-width: 728px){
    .form_ele.flt_lft div {margin-top: 6px;}
}
@media only screen and (max-width: 718px){
    .find_broker_contnt .form_ele.flt_lft div, .find_broker_contnt .form_ele.flt_lft div.post_cod input {width: 200px !important;}
}
@media only screen and (max-width: 650px){
    .user_nam_lst li:not(:first-child){max-width: 49.5%;}
}
@media only screen and (max-width: 575px){
    .revolution_section{background-position: 61% center;}
}
@media only screen and (max-width: 500px){
  .slid_imags {height: 350px}
  .footer1 .col-xs-6.col-sm-3{width: 100%;padding-left: 15px;}
  .footer1 .col-xs-6.col-sm-3:nth-child(2) .footer_content{margin-bottom: 3px;}
  /*customer*/
  .row.search_bx_sorting.text-right > div{width: 100%;}
  .search_bx_sorting > .col-xs-7 > .form-control{margin: 0 auto;}
  .find_broker_contnt .form_ele.flt_lft div, .find_broker_contnt .form_ele.flt_lft div.post_cod input {width: 170px !important;}
}
@media only screen and (max-width: 400px){
  .slid_imags {height: 300px}
  .left_my_profil .my_prof_box .col-sm-6 .form-group .col-xs-7, .left_my_profil .my_prof_box .col-sm-6 .form-group .col-xs-5 {width: 100%;}
  .pkg_month::after {display: none;}
  .pkg_month, .pkg_annual {display: block;margin: 0 auto;}
  .my_fav_dash_page_sec .container,.change_subscription_page .container {padding: 0; width: 99%;}
  .user_nam_lst li:not(:first-child){max-width: 100%;}
  #recaptcha1, #recaptcha2 {transform: scale(0.8);-webkit-transform: scale(0.8);-moz-transform: scale(0.8);}
  .revolution_form .rev_cont .dropdown ul.dropdown-menu li{min-width: 145px;}
  .revolution_form .rev_cont .dropdown ul.dropdown-menu li > a{ padding: 6px;}
  .rev_cont .dropdown.fb_br {width: 294px;}
  .find_broker_contnt .form_ele.flt_lft div, .find_broker_contnt .form_ele.flt_lft div.post_cod input {width: 150px !important;}
}
@media only screen and (max-width: 351px){
    .find_broker_contnt > .row:last-child .col-xs-7.col-sm-7.col-md-7{text-align: center;}
}
@media only screen and (max-width: 333px){
    .find_broker_contnt .form_ele.flt_lft div, .find_broker_contnt .form_ele.flt_lft div.post_cod input {width: 135px !important;}
}
@media only screen and (max-width: 319px){
    .revolution_form .rev_cont {padding: 0;}
}
